/*Символ ^ для выбора тех значений атрибута, которые начинаются с определенных символов*/
/* "#ancor" начинается с "#" */
[href^="#"] {
    color: red;
}

/*Символ $ для выбора тех значений атрибута, которые заканчиваются на определенные символы.*/
/* "./index.html" заканчивается на "html" */
[href$="html"] {
    color: green;
}

/*Символ * для выбора тех значений атрибута, которые включают определенные символы*/
/* "in" содержится в  "./index.html" и в "#introduction",
  но не в "#article" */
[id*="in"] {
    color: blue;
}

/*Прямой потомок элемента в селекторе задается с помощью символа>*/
section>div {}
div>h4 {}

/*Любой потомок элемента в селекторе задается с помощью пробела между селектором элемента и его потомками любого уровня вложенности.*/
/*Любой потомок для элемента section это все div и h4*/
section div {}
section h4 {}

/*Первый сосед в селекторе задается с помощью символа + */
.first+section {
    color: red;
}

/*Любой нижний сосед для селектора задается с помощью символа ~ */
.firsts~section {
    color: red;
}


